@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './base.css';




#app {
  max-width: 100vw;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: baseline;
  min-height: 100vh;
  max-height: max-content;
}

a, .green {
  text-decoration: none;
  color: rgb(0, 189, 126);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    padding: 0 2rem;
  }
}
